<!DOCTYPE html>
<html>
<head>
<title>vue.js practice</title>
</head>

<body>
<style>
    .red  { color: red;}
    .bold { font-weight: bold;}
</style>

<div id="myapp">
    <p>
        <input type="text" v-model="name">
        {{name}}
    </p>
    <p>
        <input type="checkbox" v-model="isAdmin">
        {{isAdmin ? 'admin' : 'not admin'}}
    </p>
    <p>
        <input type="radio" name="phone" v-model="phone" value="iPhone">
        <input type="radio" name="phone" v-model="phone" value="Android">
        {{phone}}
    </p>
    <p>
        <select v-model="city">
            <option value="tokyo">tokyo</option>
            <option value="ohsaka">ohsaka</option>
            <option value="kyoto">kyoto</option>
        </select>
        {{city}}
    </p>
</div>

<script src="build/build.js"></script>
<script>
</script>
</body>
</html>
