<!DOCTYPE html>
<html>
<head>
<title>vue.js practice</title>
</head>

<body>
<style>
.red  { color: red;}
.bold { font-weight: bold;}
</style>

<nav>
    <a href="#welcome">welcome</a>
    <a href="#home">home</a>
    <a href="#affiliate/3">affiliate</a>
</nav>

<div id="js-demo-app">
    <h1>{{ message }}</h1>
    <div v-if="currentPage === 'welcome'">
        <h2>Welcome</h2>
    </div>

    <div v-if="currentPage === 'home'">
        <h2> This is Home</h2>
        <ul>
            <li v-repeat="affiliates">
            <p>Name: {{name}}  <a href="{{link}}">link</a></p>
            </li>
        </ul>
    </div>

    <div v-if="currentPage === 'affiliate'">
        <h2> This is Affiliate detail</h2>
        <ul>
            <li v-repeat="affiliate_detail">
            <p>案件ID: {{id}} </p>
            </li>
        </ul>
    </div>

    <div v-component="my-component"></div>
</div>

<script src="build/build.js"></script>
</body>
</html>
